.chapter-title-wrapper {
	padding: 20px;
	.chapter-title {

	}
	.chapter-list {
		/*padding: 10px;*/

		.chapter-item {
			.chapter-name {

			}
			.show-list {
				border: 1px solid #ccc;
				padding: 10px;
			}
		}
	}
}