/*.foo-block-element{background-color:#08a9fe;box-shadow:0 5px 20px rgba(8,169,254,.1)}.bar-block-component,.foo-block-element{margin:10px;padding:30px;border-radius:5px;color:#fff}.bar-block-component{position:relative;background-color:#c0392b;box-shadow:0 5px 20px rgba(192,57,43,.1)}.bar-block-component h2{margin:0;padding:0}.bar-block-component .button-remove{position:absolute;top:50%;right:30px;width:30px;height:30px;padding:0;background-color:transparent;border:none;transform:translateY(-50%);color:#fff;font-size:20px;line-height:30px;text-align:center}.bar-block-component .button-remove:hover{opacity:.5}*/

.correct-btn {
	cursor: pointer;
	background-color: #F36C70;
}
