#toolbar {
	position: absolute;
	color: #fff;
	z-index: 3;
	border-radius: 4px;
	background: #000;
	white-space: nowrap;
	ul {
		display: flex;
		li {
			padding: 5px 8px;
			cursor: pointer;
			&:not(:last-child) {
				border-right: 1px solid #ccc;
			}
			&:hover {
				background-color: #540CBC;
			} 
		}
	}

	&::after {
	    content: "";
		position: absolute;
		top: 100%;
		left: calc(50% - 3px);
		width: 0;
		height: 0;
		border: 6px solid transparent;
		border-top-color: #080808;
	}
}
.xz-editor {
	display: flex;
	flex-direction: column;

	.xz-editor-content {
		position: relative;
		height: 100%;
		& * {
			line-height: 1.5;
		}
	}
}
.editor-container {
	height: 100%;
	overflow: hidden;
	position: relative;
}
.test {
	position: absolute;
	z-index: 5;
	bottom: 0;
}

/* .split {
	display: none;
} */