.self-title-wrapper {
	.chapter-list {
		.chapter-item {
			.chapter-name {
				justify-content: normal;
				span {
					border: 1px solid #D9D9D9;
					padding: 2px 5px;
					background-color: #F5F5F5;
					border-radius: 2px;
					color: rgba(0, 0, 0, 0.25);
					margin-left: 5px;
				}

			}
		}
	}
}