.edltleft-nav {
	width: 230px;
	min-width: 230px;
	height: 100%;
	float: left;
	display: flex;
	overflow-y: scroll;
	flex-direction: column;
	ul {
		li {
			padding-left: 15px;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			border-left: 1px solid #ccc; 
		}
	}
	
	.rst__rowWrapper {
		padding: 5px 0;
	}
	.rst__moveHandle, .rst__loadingHandle {
		width: 30px;
	}
	.rst__collapseButton, .rst__expandButton {
		width: 10px;
		height: 10px;
	}
	.rst__collapseButton:hover:not(:active), .rst__expandButton:hover:not(:active) {
	    background-size: 24px;
	    height: 12px;
	    width: 12px;
	}
}

