h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0;
}
p, ul {
	margin: 0;
}

$labelWidth: 100px;
.hide {
	display: none!important;
}
.keywrod {
	color: #4a25ba;
}

.self-wrapper {
	.self-line {
		display: flex;
		flex-direction: row;
		margin-bottom: 15px;

		.prev-txt {
			display: inline-block;
			width: $labelWidth;
			text-align: right;
		}
		.input {
			width: 254px;
		}
	}
	.self-footer {
		padding-left: $labelWidth;
	}
}

.query-content {
	width: 420px;
	min-width: 420px;
	/*float: right;*/
	padding: 10px;
	height: 100%;
	overflow: auto;

	.query-top {
		display: flex;
		flex-direction: row-reverse;
		padding: 5px 0;

		.close {
			cursor: pointer;
			font-size: 16px;
		}
	}
}